
<div class="container" style="margin-left:40%; margin-top: 10%">


  <% if @sum == 0 %>
  <p class="empty_list"> Sorry...There are currently no transactions in this category.</p>
  <% else %>
<table class="category_box">
<thead>
<tr>
  <th>ID</th>
  <th>Date</th>
  <th>Store</th>
  <th>Tag</th>
  <th>Amount</th>
  <th>Note</th>
</tr>
</thead>
<tbody>
<% @transactions.each do |transaction| %>
<tr>
  <td><h4><a href="/transactions/<%= transaction.id %>"><%= transaction.id %></a></h4></td>
  <td><%= transaction.transaction_date %></td>
  <td><%= transaction.store.name %></td>
  <td><%= transaction.tag.tag_category %></td>
  <td><%= sprintf('%.2f',(transaction.amount/100.to_f)) %></td>
  <td><%= transaction.note %></td>
</tr>
<% end %>
</tbody>
</table>



<p><span class="total">Total Spent </span><br>£<%= sprintf('%.2f',@sum) %><p>
  <% end %>
</div>
