
<div class="floating-box">
<p><span class="total">Total Spent </span><br>£<%= @total %><p>
</div>
<div class="floating-box">
  <% if  (@@BUDGET - @total) < 0 %>
  <p>  <% class_name = "red" %> </p>
  <% else %>
    <% class_name = "total" %>
  <% end %>
  <p class="<%= class_name %>">
  <span style="font-size:20px;font-weight:600; color:black;">
  Budget
 </span>
  <br>£<%= @@BUDGET - @total %>
</p>
</div>
</div>


  <h3 class="w3-center"> List of all your transactions</h3>

  <div class="w3-center" style="margin-left:80px;">
  <table class="w3-hoverable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Store</th>
    <th>Tag</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><h4><a href="/transactions/<%= transaction.id %>"><%= transaction.id %></a></h4></td>
    <td><%= transaction.transaction_date %></td>
    <td><%= transaction.store.name %></td>
    <td><%= transaction.tag.tag_category %></td>
    <td><%= transaction.amount %></td>
  </tr>
  <% end %>
  </tbody>
  </table>
</div>

<div class="w3-center" style="margin-top:20px;">
  <form method="get" action="/transactions/new">
    <button class="w3-button w3-black" type="submit"> Add New </button>
  </form>
  </div>
