
<div class="container">




<div class
<h3 class="w3-center"> List by date</h3>


<% if @transactions.length == 0  %>
 <p class="transaction_date"> There was no transaction performed on <%=@date%></p>
<% else %>
<table class="w3-hoverable" id="list_date">
<thead>
<tr>
  <th>ID</th>
  <th>Date</th>
  <th>Store</th>
  <th>Tag</th>
  <th>Amount</th>
  <th>Note</th>
</tr>
</thead>
<tbody>
<% @transactions.each do |transaction| %>
<tr>
  <td><h4><a href="/transactions/<%= transaction.id %>"><%= transaction.id %></a></h4></td>
  <td><%= transaction.transaction_date %></td>
  <td><%= transaction.store.name %></td>
  <td><%= transaction.tag.tag_category %></td>
  <td><%= sprintf('%.2f',(transaction.amount/100.to_f)) %></td>
  <td><%= transaction.note %></td>
</tr>
<% end %>
</tbody>
</table>
</div>
<% end %>

</div>
